<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.DishMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name,category_id, price, image, description, status, create_time, create_user,update_user,update_time)
        values (#{name},#{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{createUser},#{updateUser},#{updateTime})
    </insert>
    <select id="queryDishByPage" resultType="com.project.vo.DishVO">
        select d.*,c.name as categoryName from dish d left join category c on d.category_id= c.id
        <where>
            <if test="name!=null and name!=''">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId!=null">
                and category_id=#{categoryId}
            </if>
            <if test="status!=null">
                and d.status=#{status}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>