<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.SetMealDishMapper">
    <insert id="addSetMealDishes">
        insert into setmeal_dish (setmeal_id, dish_id,name,price,copies)
        VALUES
        <foreach collection="setmealDishes" item="setmealDish" separator="," >
            (#{setmealDish.setmealId}, #{setmealDish.dishId}, #{setmealDish.name}, #{setmealDish.price}, #{setmealDish.copies})
        </foreach>
    </insert>
    <update id="updateSetMealDishes">
        update setmeal_dish
        <set>
            <if test="setmealId!=null">
                setmeal_id = #{setmealId},
            </if>
            <if test="dishId!=null">
                dish_id = #{dishId},
            </if>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="price!=null">
                price = #{price},
            </if>
        </set>
    </update>

    <delete id="deleteSetMealDishes">
        delete from setmeal_dish where setmeal_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSetMealidsByDishIds" resultType="java.lang.Long">
        select setmeal_id
        from setmeal_dish
        where dish_id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>
    <select id="selectBySetMealId" resultType="setmealDish">
        select * from setmeal_dish where setmeal_id=#{setmealId}
    </select>
</mapper>